@font-face {
  font-family: "Medium";
  src: local("Bogart-Alt-Medium"),
    url("./fonts/Bogart-Alt-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Biotif-Regular.ttf"),
    url("./fonts/Biotif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Biotif-Bold.ttf"),
    url("./fonts/Biotif-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Hnmedium";
  src: local("Helvetica Neue Medium Extended.ttf"),
    url("./fonts/Helvetica Neue Medium Extended.ttf") format("truetype");
}

@font-face {
  font-family: "Hnlight";
  src: local("Helvetica Neue UltraLight.ttf"),
    url("./fonts/Helvetica Neue UltraLight.ttf") format("truetype");
}
